body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    padding: 30px;
}

h1 {
    color: #333;
}

.carrossel {
    margin-top: 30px;
}

.carrossel img {
    width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
